.landing {
  overflow-x: none;
  overflow: hidden;
}
.landing:-webkit-scrollbar {
  display: none;
}

.slider-fullscreen {
  width: 100%;
  height: 100vh;
  color: white;
}

.landing__header {
  height: 60px;
  width: 100%;
  background-color: rgba(36, 41, 62, 0.8);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 145px 0px 145px;
  box-sizing: border-box;
  z-index: 1;
}

.landing__header-burger {
  width: 38px;
  height: 37px;
  background-color: #49547d;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  display: none;
}

.landing__header-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 720px;
  padding: 0px;
  font-family: Gilroy;
}

.list-item {
  padding: 10px;
  font-size: 14px !important;
  font-weight: bold;
  color: #ffffff;
  box-sizing: border-box;
  cursor: pointer;
  /* justify-content: ; */
  /* font-family: Gextra !important; */
}

.list-item:hover {
  color: #61d5df;
}

.list-item-border {
  line-height: 24px;
  border-radius: 4px;
  border: solid 2px #61d5df;
  padding: 7px 16px;
  color: #61d5df;
  transition: all 0.5s;
  /* padding: 7px 16px 7px 16px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-item-border a {
  text-decoration: none;
  color: #61d5df;
}

.list-item-border:hover {
  background-color: #61d5df;
  color: #fff;
}

.list-item-border:hover a {
  color: #fff !important;
}

.list-item-highlited {
  color: #61d5df;
}

.landing__slider {
  background: url("https://mk0q365dropshipe482k.kinstacdn.com/wp-content/uploads/2020/06/hero-1.jpg")
    center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.landing__base-btn {
  background-color: #61d5df;
  font-size: 16px;
  /* width: 120px; */
  border: none;
  background: #61d5df;
  color: #fff;
  padding: 15px 30px;
  width: 180px;
  border-radius: 4px;
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
}

.landing__base-btn a {
  color: #fff;
}

.landing__slider-welcome {
  width: 995px;
  height: 171px;
  padding: 50px 0px 50px 0px;
  background-color: rgba(36, 41, 62, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing__slider-welcome img {
  width: 143px;
  height: 73px;
  margin-bottom: 30px;
}

.landing__slider-welcome h4 {
  font-weight: 400;
  font-size: 36px;
  color: #fff;
  font-family: Gilroy;
  margin: 0px;
}
.landing__content {
  background-color: #fbfbfb;
  /* height: 535px; */
  padding: 120px 60px 0px 60px;
  border-bottom: #d7e4f9 1px solid;
  box-sizing: border-box;
}

.landing__heading h2 {
  font-weight: 800;
  color: #49547d;
  margin-bottom: 5px;
  font-size: 48px;
  margin-top: 0px;
}

.landing__heading-sub {
  color: #49547d;
  font-size: 24px;
  margin-top: 0px;
  font-family: Gilroy;
}

.landing__heading-message {
  font-size: 20px;
  color: #49547d;
}

.text-highlighted {
  font-weight: 600;
  font-size: 24px;
  font-family: Gilroy;
}
.landing__heading-columns {
  display: flex;
  /* height: 100px; */
  margin-top: 80px;
  width: 70%;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  /* padding: 0px 30px 0px 30px; */
}

.column__container {
  margin-bottom: 35px !important;
  width: 100% !important;
  /* max-width: 0px !important; */
}
.landing__sign-up-btn {
  margin-top: 0px;
  margin-bottom: 80px;
}

.column__container {
  display: flex;
  justify-content: center;
  background: #fff;
  border: 3px dotted #61d5df;
  width: 33%;
  height: 95px;
  margin: 0px 15px 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  min-width: 220px;
}

.column-image {
  width: 50px;
  height: 32px;
  padding-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-text {
  display: flex;
  flex-direction: column;

  font-weight: 300;
}

.column-text-top {
  font-size: 28px;
  color: #49547d;
  font-weight: 700;
  font-family: Gilroy;
}

.column-text-bottom {
  color: #49547d;
  font-size: 18px;
  font-weight: 400;
}

.landing__explainer {
  padding: 15px 0px;
  box-sizing: border-box;
  margin: 0px 55px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.landing__explainer-wrapper {
  width: 1140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing__heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.landing__explainer-text {
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing__column-container {
  width: 100%;
  padding: 60px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.landing__column {
  width: 255px;
  height: 400px;
  /* background-color: #49547d; */
  border: 1px solid rgba(97, 213, 223, 0.3);
  text-align: start;
}

.landing__column-img {
  width: 100%;
  height: 193px;
  background-color: rgba(218, 218, 218, 0.12);
}

.landing__column h3 {
  font-size: 16px;
  color: #49547d;
  /* padding: 13px 28px 0px 28px; */
}

.landing__column span {
  font-size: 14px !important;
  /* padding: 0px 28px 0px 28px; */
  color: #49547d;
}

.landing__column-bottom {
  padding: 0px 28px 10px 28px;
}

.column-text-highlight {
  /* font-weight: 600; */
  padding: 0px !important;
  font-size: 24px !important;
  font-family: Gilroy;
}
.landing__column-img img {
  width: 100%;
  height: 100%;
}

.explainer-description {
  color: #6a6d7c;
  font-size: 20px;
  text-align: center;
}

.span-dark-blue {
  color: #49547d !important;
  font-family: Gilroy;
}

.landing__benefits {
  padding: 25px 55px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fbfbfb;
  border-top: #d7e4f9 1px solid;
  border-bottom: #d7e4f9 1px solid;
}

.landing-header {
  font-weight: 800;
  color: #49547d;
  margin-bottom: 20px;
  font-size: 32px;
}

.benefits-description {
  color: #6a6d7c;
  font-size: 20px;
  text-align: center;
}

.benefits__columns {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 60px 0px;
}
.benefits__column {
  max-width: 540px;
  max-height: 122px;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding-right: 20px;
  display: flex;
}

.benefits__column-title {
  font-size: 18px;
  line-height: 26px;
  color: #49547d;
}

.benefits__column-text {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-left: 20px;
}

.benefits__column-description {
  font-size: 14px;
  line-height: 20px;
  color: #49547d;
}

.benefits__columns-left {
  height: 333px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.benefits__columns-right {
  height: 333px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.landing__video {
  padding: 60px 20px 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing__features {
  padding: 60px 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: #d7e4f9 1px solid;
  justify-content: center;
}

.features-header {
  margin-bottom: 60px;
}

.features__list {
  width: 100%;
  display: flex;
  list-style: none;
  padding: 0px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1px;
}

.features__list-item {
  width: 187px;
  height: 120px;
  /* padding: 15px 30px; */
  box-sizing: border-box;
  border-bottom: #eeeeee 4px solid;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.features__list-item:hover {
  border-bottom-color: #49547d;
}

.features__list-item img {
  width: 45px;
  height: 45px;
}
.features__list-item span {
  margin-top: 10px;
  color: #777;
}
.features__list-item-highlight {
  border-bottom: #49547d 4px solid;
}

.features__information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features__information-wrapper {
  display: flex;
  text-align: start;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 40px;
  padding: 0px 40px;
  gap: 70px;
}

.features__information-text {
  width: 600px;
}
.features__information-text p {
  color: #49547d;
  font-size: 14px;
  line-height: 22px;
}
.features__information-wrapper h3 {
  font-size: 23px;
  line-height: 32px;
  color: #49547d;
}

.features-btn {
  margin-top: 60px;
}

.landing__integrations {
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.integrations-header {
  margin-bottom: 45px;
}

.landing__integrations-list {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  padding: 0px;
}

.landing__integrations-list li {
  opacity: 0.5;
  transition: all 0.3s;
}

.landing__integrations-list li img {
  /* width: 100%; */
  /* height: 100%; */
}

.landing__integrations-list li:hover {
  opacity: 1;
}

.landing__footer {
  background-color: #24293e !important;
  /* height: 761px; */
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 90px 0px;
}

.footer__list {
  display: flex;
  gap: 1px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
  padding: 0px 20px;
}
li {
  list-style: none;
}
.footer__list-item {
  list-style: none;
  padding: 15px 30px;

  border-bottom: 3px solid #eee;
  color: #eee;
  font-family: Gilroy;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.footer__list-item:hover {
  border-bottom-color: #61d6df;
  color: #61d6df;
}

.footer__list-item-active {
  color: #61d5df;
  border-bottom-color: #61d5df;
}
.landing__footer-text {
  text-align: start;
  color: #fff;
  line-height: 22px;
  /* padding-bottom: 90px; */
  width: 1087px;
}
.landing__footer-text strong {
  font-size: 18px;
}

.landing__mainfooter {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  height: 220px;
  background-color: #24293e;
  color: #fff;
  display: flex;
  justify-content: center;
}

.mainfooter__list {
  display: flex;
  gap: 10px;
}

.mainfooter__list-item {
  display: flex;
  flex-direction: column;
  /* width: 255px; */
  width: 25%;
  height: 146px;
  text-align: start;
}
.mainfooter__list-item h3 {
  font-size: 16px;
  margin: 0px;
}
.mainfooter__list-item-gray {
  color: #cacaca;
}

.mainfooter__list-item-gray img {
  width: 94px;
  height: 50px;
}

.mainfooter__list-item li {
  padding: 6px 0px;
}

.mainfooter__list-item ul {
  padding: 0px;
}

.mainfooter-bottom {
  height: 44px;
  background-color: #24293e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.mainfooter-bottom span {
  color: #cacaca;
  opacity: 0.6;
  font-family: Gilroy;
}

iframe {
  width: 1140px;
  height: 641px;
}

.get-started-btn {
  margin-bottom: 50px;
}

@media only screen and (max-width: 1340px) {
  .landing__header {
    padding: 0px 10px 0px 10px;
  }
  iframe {
    height: 600px;
    width: 1040px;
  }
}

@media only screen and (max-width: 1170px) {
  .landing__column {
    width: 210px;
    height: 350px;
  }
  .landing__column-img {
    height: 160px;
  }

  iframe {
    width: 100%;
    height: 600px;
  }
  .landing__footer-text {
    width: 90%;
  }
  .landing__footer-text p {
    font-size: 13px;
  }
  .landing__mainfooter {
    flex-wrap: wrap;
    width: 100%;
  }
  .mainfooter__list {
    padding: 0px 20px;
  }
  .landing__explainer-wrapper {
    width: 100%;
  }
  .features__information-text {
    width: 80%;
  }
  .landing__slider-welcome {
    width: 90%;
  }
}

@media only screen and (max-width: 990px) {
  .landing__integrations-list {
    /* flex-wrap: wrap; */
    gap: 20px;
  }
  .landing__integrations-list li {
    width: 100%;
  }
  .landing__header {
    justify-content: space-between !important;
    padding: 0px 30px;
  }
  .landing__header-list {
    display: none !important;
  }
  .landing__header-burger {
    display: flex;
  }
  .landing__column {
    width: 170px;
    height: 380px;
  }
  iframe {
    max-height: 480px;
  }
  .mainfooter__list {
    flex-wrap: wrap;
  }
  .landing__mainfooter {
    height: 100%;
  }
  .mainfooter__list-item {
    width: 100%;
    margin-bottom: 20px;
  }
  .mainfooter__list-item-gray {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 830px) {
  .landing__integrations-list {
    flex-wrap: wrap;
  }
  .landing__explainer-wrapper {
    width: 100%;
  }
  .landing__column-container {
    width: 100%;
    flex-wrap: wrap;
  }
  .landing__column {
    width: 100%;
    height: 100%;
  }
  .landing__column-img {
    height: 80%;
  }
  .landing__column-bottom {
    height: 20%;
  }
  .benefits__column {
    max-width: 100%;
    max-height: 100%;
  }
  .benefits__columns-left {
    height: 100%;
    width: 100%;
  }
  .benefits__columns-right {
    height: 100%;
    width: 100%;
  }
  .explainer-description {
    width: 100%;
  }
  .benefits__columns {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 770px) {
  .landing__slider-welcome {
    width: 90% !important;
    height: 193px !important;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    top: inherit;
    left: inherit;
    position: absolute;
    top: 21%;
    position: absolute;
    flex-direction: column;
    margin: 0 auto;
  }
  .landing__slider-welcome img {
    width: 100px !important;
    height: 57px !important;
    margin-bottom: 30px;
  }
  .landing__slider-welcome h4 {
    font-size: 14.5714px !important;
    line-height: 24.5455px;
  }
  .landing__heading-columns {
    flex-wrap: wrap;
    margin-left: 0px;
    margin-right: 0px;
  }
  .landing__heading-columns {
    width: 100%;
  }
  .landing__base-btn {
    margin-bottom: 40px;
  }
  .landing__explainer-text {
    padding: 0px;
  }
  iframe {
    height: 400px;
  }
}

.features__slider {
  height: 300px;
}

@media only screen and (max-width: 700px) {
  iframe {
    height: 350px;
    width: 500px;
  }
  .features__information-wrapper {
    padding: 0px;
  }
  .features__information-text {
    width: 90%;
  }
  .features__slider {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 600px) {
  iframe {
    height: 300px;
    width: 450px;
  }
}
@media only screen and (max-width: 515px) {
  .landing__content {
    padding: 100px 20px 0px 20px;
  }
  .landing__benefits {
    padding: 26px 20px;
  }
  iframe {
    width: 360px;
  }
  .landing__video {
    height: 300px;
  }
}

@media only screen and (max-width: 410px) {
  .landing__heading h2 {
    font-size: 40px;
  }
  iframe {
    width: 100%;
    height: 300px;
  }
}
