.cart__header {
  color: #303856;
  border-bottom: 1px solid rgba(187, 198, 206, 0.11);
  background: 0 0;
  width: 100%;
  height: 77px;
  padding: 23px 30px 22px 50px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  font-family: "Gilroy";
  font-size: 18px;
}

.cart__header-title {
  align-self: center;
}

.cart {
  margin-left: 54px;
  box-sizing: border-box;
  background-color: #f8f9fa;
  padding: 0px 30px;
  padding-bottom: 50px;
}

.table-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart__table-container {
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 6%);
  margin-top: 20px;
}

.cart__header-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.cart__header-burger {
  width: 24px;
  height: 24px;
  padding-top: 4px;
  display: none;
}

.cart__bottom--section {
  margin-top: 22px;

  display: flex;
  justify-content: space-between;
}

.cart__shipping {
  width: calc(70% - 11px);
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%);
  background-color: #fefefe;
  height: 278px;
  border-radius: 8px;
}

.cart__checkout {
  width: calc(30% - 11px);
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%);
  height: 278px;
  border-radius: 8px;
}

.cart__bottom--section {
  display: flex;
}

.cart__shipping--title {
  color: #49547d;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 6%);
  font-size: 14px;
  line-height: 43px;
  font-weight: 700;
  width: 100%;
  height: 44px;
  text-align: left;
  padding: 0 36px;
  text-transform: uppercase;
  box-sizing: border-box;
}

.shipping-row-title {
  position: relative;
  padding-left: 20px;
  font-size: 16px;
  color: #29304b;
  font-family: Arial;
}

.cart__checkout--title {
  color: #49547d;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 6%);
  font-size: 14px;
  line-height: 43px;
  font-weight: 700;
  width: 100%;
  height: 44px;
  text-align: left;
  padding: 0 36px;
  text-transform: uppercase;
  box-sizing: border-box;
}

.cart__shipping-rows {
  width: 100%;
  height: calc(100% - 44px);
  padding: 22px 38px 10px 38px;
  box-sizing: border-box;
  display: flex;
  gap: 10px;
}

.shipping-row-input {
  display: block;
  color: #aa9ebd;
  font-size: 14px;
  height: 38px;
  width: 100%;
  border-radius: 4px;
  padding-left: 10px;
  margin: 10px 10px 20px 0px;
  border: 1px solid #dbe0f3;
  background-color: #f9fbfe;
  box-sizing: border-box;
}

.shipping-row-input--long {
  height: 128px;
}

.shipping-row--margin {
  margin-left: 20px;
}

.shipping-row-title {
  padding-left: 10px;
  color: #52545c;
}

.shipping-row {
  width: 20%;
  text-align: start;
}

.shipping-row-long {
  height: 100%;
}

.required {
  color: #f97579;
}

.cart__info {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%);
  height: 90px;
  border-radius: 8px;
  margin-top: 22px;
  display: flex;
  margin-bottom: 20px;
  padding: 25px 48px;
  box-sizing: border-box;
  font-family: Helvetica;
  justify-content: space-between;
}

.cart__info-right {
  display: flex;
  gap: 20px;
  align-items: center;
}

.continue-shopping-btn {
  cursor: pointer;
  border-radius: 4px;
  background-color: #61d5df;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  color: #f9fbfe;
  height: 38px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
  width: 187px;
  margin-right: 20px;
}

.checkout-btn {
  cursor: pointer;
  border-radius: 4px;
  background-color: #61d5df;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  color: #f9fbfe;
  height: 38px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
  width: 168px;
  margin-left: 38px;
  margin-right: 5px;
}

.total-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.total-label {
  margin-right: initial;
  font-size: 18px;
  color: #303856;
  font-family: "Gilroy";
  text-align: start;
}

.total-number {
  color: #4785ef;
  font-size: 16px;
  font-family: "Gilroy";
  margin-left: 4px;
}

.cart__info-prices {
  display: flex;
  gap: 20px;
}

@media only screen and (max-width: 1350px) {
  .total-section {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1300px) {
  .cart__shipping {
    height: 661px;
  }
  .cart__checkout {
    height: 661px;
  }
  .cart__shipping-rows {
    flex-wrap: wrap;
  }
  .shipping-row {
    width: 49%;
  }
  .shipping-row--margin {
    margin: 0px;
    /* width: 100%; */
    width: 100%;
  }
  .cart__info {
    height: 145px;
    flex-direction: column;
  }
  .cart__info-left {
    width: 100%;
  }
  .continue-shopping-btn {
    width: 100%;
    justify-content: center;
  }

  .total-section {
    flex-direction: row;
  }
  .cart__info-right {
    justify-content: space-between;
  }
  .checkout-btn {
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 1250px) {
  .cart__bottom--section {
    flex-wrap: wrap;
  }
  .cart__shipping {
    width: 100%;
  }
  .cart__checkout {
    width: 100%;
    margin-top: 20px;
  }
  .checkout-btn {
    width: 118px;
    height: 36px;
  }
  .cart__checkout {
    height: 231px;
  }
}

@media only screen and (max-width: 1070px) {
  .cart {
    margin-left: 0px;
  }
  .help-menu {
    display: none;
  }
  .cart__header-burger {
    display: flex;
  }
}

@media only screen and (max-width: 800px) {
  .cart__info-right {
    flex-wrap: wrap;
  }
  .cart__info {
    height: auto;
  }
  .checkout-btn {
    width: 100%;
  }
  .total-section {
    justify-content: flex-start;
  }
  .cart__info-prices {
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
  }
  .continue-shopping-btn {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 750px) {
  .shipping-row {
    width: 100%;
  }
  .cart__shipping {
    height: auto;
  }
  .cart__header {
    padding-left: 0px;
    padding-right: 0px;
  }
}
