.table {
  width: 100%;
  min-width: 1085px;
}

.table__header {
  text-transform: uppercase;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 6%);
  height: 64px;
  color: #49547d;
}

.table__header th {
  border-bottom: 1px solid #f3f1f1;
}

.table-img {
  width: 80px;
  height: 80px;
  margin-left: 10px;
}

.table-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  vertical-align: middle;
}

.table-description {
  text-align: start;
  padding-left: 35px;
}

.table-item {
  background-color: #fff;
  min-width: 80px;
  height: 90px;
}

.table-item-description {
  display: flex;
  align-items: center;
  padding-left: 36px;
}

.table-item-description span {
  margin-left: 10px;
}

.delete-svg {
  width: 24px;
  height: 24px;
}

.table-item-delete {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-item-delete svg {
  cursor: pointer;
}

.qty-input {
  box-sizing: border-box;
  width: 82px;
  height: 30px;
  padding: 4px;
  border-radius: 8px;
  border: 1px solid rgba(95, 102, 115, 0.1);
  background-color: rgba(142, 176, 233, 0.05);
  display: flex;
  justify-content: space-around;
  align-self: center;
}

.table-item-quantity {
  display: flex;
  justify-content: center;
}

.qty-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eef2f8;
  width: 20px;
  height: 20px;
  border-radius: 6px;
}
