.modal__background {
  width: 100%;
  height: 100%;
  background: rgba(0, 14, 70, 0.7) !important;
  position: fixed;
}

.modal__container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal__container--show {
  display: flex;
}

.modal__card {
  background-color: #fff;
  width: 600px;
  height: 691px;
  border-radius: 8px;
  z-index: 101;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 20px;
  padding: 20px 70px;
  box-sizing: border-box;
}

.modal__title {
  width: 100%;
  margin-left: 16px;
}

.modal__header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__exit {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.modal__description {
  width: 100%;
  height: 300px;
  resize: none;
  box-sizing: border-box;
  font-family: Helvetica;
  line-height: 19px;
  font-size: 16px;
  padding: 15px;
  border-width: 1px;
  border-radius: 5px;
  border-color: #c4c4c4;
}

.modal__description::placeholder {
  color: #dedede;
}

.modal__description:focus {
  outline: none !important;
  border-color: #3f51b5;
  border-width: 1px;
  box-sizing: border-box;
}

.modal__add--btn {
  display: flex;
  justify-content: center;
}
.add-btn {
  width: 200px;
  height: 40px;
  text-align: center !important;
}

.modal-title {
  font-size: 22px;
  font-family: Gilroy;
  color: #58c3cc;
}

@media only screen and (max-width: 935px) {
  .modal-title {
    font-size: 40px;
  }
  .modal__card {
    width: 100%;
    height: 100%;
  }
  .add-btn {
    width: 400px;
    height: 60px;
  }
}
