/* scrollbar! */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #939db7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #79839c;
}

.catalog {
  padding-left: 54px;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  display: flex;
}

.catalog__navbar {
  height: 100%;
  width: 257px;
  background-color: #ecedf5;
}

.catalog__navbar--active {
  height: 100%;
  background-color: #ecedf5;
  display: flex;
  position: fixed;
  z-index: 100;
  width: 100vw;
  flex-direction: column;
}

.catalog__wrapper {
  width: calc(100% - 257px);
  background-color: #f8f9fa;
}
.catalog__header {
  width: 100%;
  height: 75px;
  background-color: #f8f9fa;
  padding-left: 50px;
  padding-right: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.catalog__header-left {
  display: flex;
  align-items: center;
  flex: 1;
}

.catalog__header-right {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 2;
}

.catalog__sort {
  width: 100%;
  height: 50px;
  background-color: #fff;
  border-bottom: 1px solid #dbe0f3;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px 0px 50px;
}
.catalog__sort-input {
  text-align: right;
  color: #a8a4a4;
  display: flex;
  align-items: center;
}
.catalog__sort-input img {
  width: 13px;
  height: 10px;
}

.catalog__sort-input span {
  min-width: 54px;
}
.add-product-btn {
  height: 30px;
}

.catalog__sort-input img {
  margin-right: 10px;
}
.catalog__sort-input span {
  margin-right: 10px;
}
.catalog__sort-select {
  border: none;
  text-align: right;
  color: #a8a4a4;
}
.catalog__products {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
  height: calc(100% - 125px);
}

.catalog__navbar-selector {
  width: 100%;
  height: 52px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.73;
  color: #fff;
  padding: 0px 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Gilroy;
}

.navbar-niche--purple {
  background-color: #5d6b9f;
}

.navbar-niche--pink {
  background-color: #9da9d5;
}

.navbar-shadow {
  box-shadow: 0 2px 3px 0 rgb(0 0 0 / 11%);
}

.header-btn {
  text-transform: uppercase;
  white-space: nowrap;
  border-radius: 4px;
  border: none;
  background-color: #61d5df;
  font-family: Gilroy;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #fff;
  padding: 0 14px;
  outline: 0;
  cursor: pointer;
}

.add-to-inventory {
  height: 40px;
  margin: 0px 10px;
}

.select-all {
  height: 32px;
}

.product-selected-amount {
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-size: 12px;
  white-space: nowrap;
  color: #454e70;
}
.seperate {
  width: 1px;
  height: 23px;
  opacity: 0.3;
  background: #030202;
  margin: 0 12px 0 16px;
}

.header__search-container {
  width: 100%;
  max-width: 480px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 25px;
  /* box-sizing: border-box; */
}

.clear-selected {
  display: none;
  height: 32px;
  margin-left: 25px;
}

.clear-selected--active {
  display: block;
}

.help-menu {
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  border: 2px solid #49547d !important;
  width: 24px;
  height: 24px;
  background-color: #fdfcfc;
  color: #49547d;
  border-radius: 50%;
  font-weight: bolder;
  outline: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-btn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  cursor: pointer;
  padding-right: 3px;
}

.clear-btn {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  cursor: pointer;
  padding-right: 3px;
}

.clear-btn--active {
  display: flex !important;
}

.search-btn img {
}

.header__search {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  font-size: 13px;
  outline: 0;
  color: #29304b;
  padding: 0 16px;
  background-color: #fff;
  border: 1px solid rgba(95, 102, 115, 0.1);
  height: 100%;
  box-sizing: border-box;
  max-width: 480px;
}

.header__search--active {
  display: block !important;
}

.select-all-small {
  width: 40px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  margin-left: 12px;
}

.header__burger {
  margin-right: 10px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.filter-btn-small {
  height: 32px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.search-small {
  border-radius: 4px;
  width: 40px;
  height: 40px;
  border: 1px solid #e9eaed;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.search-small--active {
  display: none !important;
}

.add-to-inventory-small {
  display: flex;
  height: 100%;
  width: 48px;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 25px;
  display: none;
}

.add-to-inventory--hidden {
  display: none !important;
}

.add-product-btn--small {
  display: none;
  width: 24px;
  height: 24px;
  padding: 7px;
  margin-left: 5px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1279px) {
  .catalog__header {
    padding-right: 30px;
  }
  .catalog__sort {
    padding-right: 30px;
  }
}

@media only screen and (max-width: 1070px) {
  .header__burger {
    display: flex;
  }
}

@media (max-width: 1055px) {
  .select-all {
    display: none;
  }
  .seperate {
    display: none;
  }
  .product-selected-amount span {
    display: none;
  }
  .catalog__header-left {
    flex: 0;
  }
  .select-all-small {
    display: flex;
  }
  .header__search-container {
    margin-left: 13px;
  }
  .clear-selected {
    display: none;
  }
}

.filter-btn-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.filter-btn-icon img {
  width: 20px;
  height: 20px;
}

.header__search-container--active {
  margin-right: 13px;
}

@media only screen and (max-width: 1070px) {
  .catalog {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 1000px) {
  .help-menu {
    display: none;
  }
  .header__burger {
    margin-right: 0px;
  }
  .catalog__header {
    padding-left: 30px;
  }
}
@media only screen and (max-width: 935px) {
  .catalog__nav-bar {
    display: none;
  }
  .catalog__navbar {
    display: none;
  }
  .catalog__navbar--active {
    display: flex;
  }
  .catalog__wrapper {
    width: 100%;
  }
  .header__search-container {
    max-width: 320px;
  }
  .filter-btn-small {
    display: flex;
  }
  .catalog__sort {
    padding-left: 30px;
  }
}

@media only screen and (max-width: 650px) {
  .header__search {
    display: none;
  }
  .search-btn {
    display: none;
  }
  .search-small {
    display: flex;
  }
}

@media only screen and (max-width: 600px) {
  .add-to-inventory {
    display: none !important  ;
  }
  .add-to-inventory-small {
    display: flex;
  }
  .filter-btn-icon {
    display: flex;
    margin-right: 15px;
  }
  .filter-btn-small {
    display: none;
  }
  .select-all-small {
    height: 40px;
  }
}

@media only screen and (max-width: 530px) {
  .product-selected-amount {
    display: none;
  }
  .add-product-btn {
    display: none;
  }

  .add-product-btn--small {
    display: flex;
  }

  .catalog__header {
    padding-left: 30px;
  }
  .filter-btn-small {
    margin-right: 0px;
  }
  .filter-btn-icon {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 430px) {
  .filter-btn-icon {
  }
}
