.editmodal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 14, 70, 0.7) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editmodal__container {
  width: 600px;
  height: 691px;
  border-radius: 8px;
  padding: 20px 70px;
  box-sizing: border-box;
  background-color: #fff;
}

.editmodal__header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.editmodal__title {
  width: 100%;
  margin-left: 24px;
  font-size: 22px;
  font-family: Gilroy;
  color: #58c3cc;
}

.editmodal__exit {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.editmodal__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
}

.editmodal__textfield p {
  text-align: start;
}

.editmodal-textarea {
  box-sizing: border-box;
  height: 180px;
  width: 460px;
  resize: none;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  border: none;
  border-bottom: 1px solid #a5a5a5;
  background-color: #5309ff04;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.editmodal__background {
  width: 100%;
  height: 100%;
  position: fixed;
  cursor: pointer;
  z-index: -1;
}

.submit-btn {
  height: 40px;
  background-color: #61d5df;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  border: none;
  color: #fff;
}

@media only screen and (max-width: 935px) {
  .editmodal__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .editmodal-textarea {
    width: 100%;
  }
  .editmodal__title {
    font-size: 40px;
  }
  .submit-btn {
    height: 60px;
  }
}
