.product__container {
  margin: 0px 10px 25px 10px;
  background-color: #ffffff;
  border: 2px solid rgba(112, 112, 112, 0.12);
  border-radius: 8px;
  position: relative;
}

.product__container--selected {
  border: 2px solid #58c3cc;
}

.text-cyan {
  color: #58c3cc !important;
}

.product__title span {
  text-transform: uppercase;
  width: 100%;
  height: 32px;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 600;
  color: #3b3b3b;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: start;
}

.product__title {
  padding: 15px 20px 20px;
  height: 55px;
  overflow: hidden;
  box-sizing: border-box;
  text-align: start;
}

.product__container {
  width: calc(100% / 4 - 20px);
  height: 488px;
  box-sizing: border-box;
  cursor: pointer;
}

.product__container:hover {
  border: 2px solid #61d5df;
  box-sizing: border-box;
}

.product__container:hover .product__header {
  display: flex;
}

.product-edit-hidden {
  display: none !important;
}

.product__header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__container:hover .product__header-buttons--hidden {
  display: flex;
}

.product__header-buttons--hidden {
  display: none;
}

.product__header {
  position: absolute;
  width: 100%;
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 13px;
  box-sizing: border-box;
  height: 68px;
}

.product__header--visible {
  display: flex;
}

.product__header button {
  height: 42px;
  padding: 4px 8px;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  outline: none;
  border: none;
  margin-left: 10px;
  color: #fff;
}

.product-checkbox {
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  width: 22px;
  height: 22px;
}

.product-checkbox:checked {
  background-color: #7cdce5;
  border-color: #7cdce5;
}

.product-delete {
  background-color: rgb(216, 4, 4);
}

.product-edit {
  background-color: #61d5df;
}

.product-add {
  background-color: #61d5df;
}

.product-image {
  height: 308px;
  padding: 10px;
  background-color: #fbfbfb;
  white-space: nowrap;
  text-align: center;
  border-radius: 8px;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  vertical-align: middle;
}

.product-supplier {
  padding-left: 20px;
  color: #707070;
  font-size: 15px;
  width: 100%;
  /* font-family: Gilroy; */
  box-sizing: border-box;
  text-align: start;
  margin-top: 5px;
}

.price-list {
  /* height: 92px; */
  padding: 10px 20px 20px 20px;
  box-sizing: border-box;
  margin: 0px;
  display: flex;
}

.price-box {
  width: calc(100% / 3);
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: start;
}
.Dropdown-root {
  width: 100%;
}
.Dropdown-control {
  background: #fff;
  border-radius: 4px !important;
  height: 40px;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  color: #29304b;
  text-transform: capitalize;
  text-align: start;
  outline: none;
  border: 1px solid rgba(204, 204, 204, 0.5) !important;
}

.dropdowns__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 13px;
  margin-top: 22px;
  box-sizing: border-box;
  gap: 15px;
}
.MuiSlider-root {
  color: #49547d !important;
}

.slider-wrapper {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider-value-wrapper {
}

.slider-value {
  width: 55px;
  height: 27px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider-amount {
  color: rgba(87, 99, 109, 0.8);
  font-family: Gilroy;
  font-size: 14px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-currency {
  width: 20%;
  height: 100%;
  margin-left: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
  border-right: 1px solid #ecedf5;
  color: rgba(101, 115, 126, 0.5);
}
.slider-amount {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-value-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.slider-title {
  width: 220px;
  display: flex;
  align-items: flex-start;
  font-size: 14px;
  font-weight: 500;
  color: #394050;
  margin-bottom: 10px;
}
.price-box strong {
  font-size: 20px;
  color: #616161;
  font-weight: 400;
}

.price-box span {
  display: block;
  font-size: 16px;
  color: #707070;
  font-weight: 500;
  letter-spacing: 0.14px;
  opacity: 0.7;
  text-transform: uppercase;
}

.navbar-back {
  cursor: pointer;
  margin: 20px 26px 0px 26px;
  height: 36px;
  border-radius: 4px;
  background-color: #49547d;
  border: none;
  outline: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  display: none;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 935px) {
  .slider-title {
    width: 90%;
  }
}

@media only screen and (max-width: 1600px) {
  .product__container {
    width: calc(100% / 3 - 20px);
  }
}

@media only screen and (max-width: 1360px) {
  .product__container {
    width: calc(100% / 2 - 20px);
  }
}

@media only screen and (max-width: 935px) {
  .navbar-back {
    display: flex;
  }
}

@media only screen and (max-width: 660px) {
  .product__container {
    width: calc(100% / 1 - 20px);
  }
}

@media only screen and (max-width: 360px) {
  .price-box strong {
    font-size: 19px;
  }
}

@media only screen and (max-width: 350px) {
  .price-box strong {
    font-size: 18px;
  }
}
