.productmodal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -53px;

  box-sizing: border-box;
}

.productmodal__card {
  display: flex;
  flex-wrap: wrap;
  margin-left: 70px;
  margin-right: 17px;
  width: 1163px;
  height: 691px;
  border-radius: 8px;
  box-shadow: 0 35px 35px 0 rgb(6 16 88 / 16%);
  background-color: #fff;
  z-index: 3;
}

.productmodal__background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 14, 70, 0.7);
}

.productmodal__card-left {
  padding: 40px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  background-color: #fbfbfb;
}

.card__left-pricelist {
  display: flex;
  justify-content: center;
  padding: 9.3px 29px 8.3px 20px;
  border-radius: 7px;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
  border: 1.5px solid #fff;
  background: #fafafa;
}

.price-container {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 33%;
}

.card__left-pricelist {
  padding: 9.3px 29px 8.3px 20px;
  border-radius: 7px;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
  border: 1.5px solid #fff;
  background: #fafafa;
}

.price {
  font-size: 22px;
  color: #616161;
  font-weight: 500;
}

.price--cyan {
  color: #58c3cc;
}

.price-title {
  display: block;
  font-size: 14px;
  color: #707070;
  font-weight: 500;
  letter-spacing: 0.14px;
  opacity: 0.7;
  text-transform: uppercase;
}

.slideshow-pagination {
  width: 100%;
}

.card-slideshow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.slideshow-image {
  width: 335px;
  height: 335px;
  display: flex;
  align-items: center;
}

.slideshow-image img {
  width: 100%;
  height: 100%;
}

.pagination-ul {
  display: flex;
  width: 100%;
  height: 94px;
  margin-top: 56px;
  padding: 0px;
  justify-content: space-evenly;
  cursor: pointer;
}

.pagination-img {
  border-radius: 4px;
  box-shadow: 0 15px 15px 0 rgb(0 0 0 / 8%);
  background-color: #fff;
  height: 100%;
  width: 94px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pagination-img img {
  width: 72px;
  height: 72px;
}

.productmodal__card-right {
  width: calc(100% - 499px);
  padding: 0px 40px 40px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.productmodal-header {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.productmodal-supplier {
  line-height: 1.63;
  color: rgba(112, 112, 112, 0.7);
  font-size: 16px;
}

.productmodal-header span {
  font-size: 16px;
  line-height: 1.63;
  color: #707070;
}

.productmodal-title {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.09;
  text-align: left;
  color: #3b3b3b;
  margin-top: 10px;
  margin-bottom: 20px;
  word-wrap: break-word;
  font-weight: 700;
}

.productmodal-buttons {
  margin-top: 22px;
  display: flex;
  justify-content: flex-end;
}

.productmodal-buttons button {
  border: none;
  font-family: Gilroy;
  width: 272px;
  height: 43px;
  border-radius: 4px;
  background-color: #61d5df;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.productmodal-tabs {
  display: flex;
  height: 45px;
  border-bottom: 1px solid rgba(112, 112, 112, 0.25);
  margin-top: 30px;
}

.tab {
  font-size: 16px;
  font-weight: 600;
  margin-right: 68px;
  color: #b0b0b0;
}

.tab--active {
  color: #616161;
  border-bottom: 1px solid #3b3b3b;
}

.productmodal-description {
  margin-top: 20px;
  text-align: start;
  color: #707070;
  word-wrap: break-word;
}

.productmodal-close {
  position: absolute;
  width: 14px;
  height: 14px;
  margin-bottom: 15px;
  align-self: flex-end;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media only screen and (max-width: 1070px) {
  .productmodal {
    margin-left: 0px;
  }
  .productmodal__card {
    margin: 0px 17px;
  }
}

@media only screen and (max-width: 935px) {
  .productmodal__card-left {
    width: 100%;
    /* height: 50%; */
  }
  .productmodal__card-right {
    width: 100%;
    /* height: 50%; */
  }
  .productmodal__card {
    margin: 0px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
  }
  .productmodal-close {
    position: relative;
  }
  .productmodal__card-left {
    height: auto;
  }
  .card-slideshow {
    margin-top: 80px;
  }
}
