.profile__wrapper {
  margin-left: 54px;
  height: 100%;
}

.profile__header {
  display: flex;
  justify-content: space-between;
  height: 77px;
  background-color: #f9fbfe;
  padding: 29px 30px 27px 29px;
  border-bottom: 1px solid #dcdde3;
  box-sizing: border-box;
}

.my-profile {
  height: 18px;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #303856;
  margin-left: 20px;
}

.sign-out {
  width: 132px;
  height: 40px;
  border-radius: 4px;
  background-color: #e6eefc;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  cursor: pointer;
  outline: 0;
  border: none;
  color: #4785ef;
  text-transform: uppercase;
}

.header-btn-wrapper {
  display: flex;
  align-items: center;
  gap: 73px;
}

.profile__main {
  padding: 21px 50px 60px 50px;
  background-color: #f8f9fa;
  height: calc(100% - 77px);
  box-sizing: border-box;
}

.profile__avatar {
  border-radius: 4px;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%);
  background-color: #fefefe;
  width: 100%;
  height: 100%;
}

.avatar-heading {
  line-height: 21px;
  font-size: 15px;
  color: #303856;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 6%);
  width: 100%;
  font-weight: 700;
  height: 64px;

  display: flex;

  justify-content: space-between;
}

.avatar-widgets {
  margin-left: 15px;
  margin-right: 15px;
  box-sizing: border-box;
}

.avatar-ul {
  display: flex;
  margin: 0px;
  height: 100%;
  margin-left: 0px;
  padding: 0px;
  padding-top: 24px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.43;
  color: #303856;
}

.avatar-li {
  padding: 0pc 36px 18px 36px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.avatar-li--active {
  border-bottom: 3px solid #61d5df;
  box-sizing: border-box;
}

.avatar-btns {
  display: flex;
  align-items: center;
}

.deactivate-account {
  width: 186px;
  height: 44px;
  border-radius: 4px;
  background: #fff1f1;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #ff7b7b;
  border: none;
  cursor: pointer;
  outline: 0;
  margin-right: 50px;
  text-transform: uppercase;
  display: block;
}

.avatar-wrapper {
  width: 100%;
  display: flex;
  height: calc(100% - 64px);
  justify-content: center;
  padding: 25px 0px 16px 0px;
  box-sizing: border-box;
  gap: 20px;
}

.avatar-content {
  width: 100%;
  height: 268px;
  border-radius: 4px;
  border: 1px solid #f9fbfe;
  background-color: #f9fbfe;
  margin-top: 10px;
}

.avatar-content-wrapper {
  text-align: start;
  width: 520px;
}

.avatar-content-header {
  height: 16px;
  font-family: Gilroy;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #303856;
  text-transform: uppercase;
}

.avatar-image {
  border-radius: 105px;
  overflow: hidden;
  width: 160px;
  height: 160px;
  border: 6px solid #61d5df;
  margin: 24px auto 0;
  box-sizing: border-box;
}

.avatar-image img {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  object-fit: cover;

  object-position: center;
  padding: 5px;
  border-radius: 105px;
}

.upload-image {
  width: 162px;
  height: 40px;
  border-radius: 4px;
  background-color: #61d5df;
  border: none;
  display: block;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.78;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  cursor: pointer;
  margin: 20px auto 0;
}

.avatar-input {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  padding: 0px 50px;
}

.avatar-input label {
  display: block;
  margin-bottom: 4px;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #29304b;
}

.avatar-li--wide {
  width: 200px;
}

.save-profile-btn {
  margin: 0px 15px 15px 0px;
  border-width: 0;
  float: right;
  cursor: pointer;
  width: 162px;
  height: 40px;
  border-radius: 4px;
  background: #61d5df;
  font-family: Gilroy;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  text-align: center;
  color: #fff;
  letter-spacing: 0;
}

.profile__avatar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.avatar-wrapper-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.avatar-wrapper-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media only screen and (max-width: 1280px) {
  .avatar-content-wrapper {
    width: 400px;
  }
}

@media only screen and (max-width: 1070px) {
  .profile__wrapper {
    margin-left: 0px;
  }
  .header-btn-wrapper {
    gap: 50px;
  }
}

@media only screen and (max-width: 990px) {
  .avatar-wrapper {
    flex-direction: column;
    height: auto;
    align-items: center;
  }
  .profile__wrapper {
    height: auto;
  }
  .profile__main {
    height: auto;
  }
}

@media only screen and (max-width: 780px) {
  .deactivate-account {
    display: none;
  }
  .avatar-wrapper-left {
    width: 100%;
  }
  .avatar-content-wrapper {
    width: 100%;
  }
  .avatar-content {
    width: auto;
  }
  .avatar-wrapper-right {
    width: 100%;
  }
  .avatar-content-header {
    padding-left: 15px;
  }
}

@media only screen and (max-width: 580px) {
  .avatar-li {
    padding: 0px 20px 18px 20px;
    width: 100%;
  }
  .avatar-ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .avatar-heading {
    height: auto;
    justify-content: center;
  }
}

@media only screen and (max-width: 440px) {
  .header-btn-wrapper {
    gap: 20px;
  }
}

@media only screen and (max-width: 380px) {
  .my-profile {
    margin: 0px !important;
  }
  .sign-out {
    width: 100px;
  }
}
