.login {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("https://app.365dropship.com/catalog_bg.3808158baad738767615.jpg");
  background-color: #98a3c7;
  opacity: 0.92 !important;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.login__form {
  width: 413px;
  height: 600px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 8px;
  padding: 34px 40px;
  z-index: 2;
  box-sizing: border-box;
  box-shadow: 0 0 12px #6b6b6b;
}
.login__logo {
  position: absolute;
}

.login__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
}
.login__heading h3 {
  font-size: 18px;
  color: #171717;
  text-transform: capitalize;
  margin: 0px;
  font-weight: 400;
}

.login__form form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.login-btn {
  outline: 0;
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
  text-transform: capitalize;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 25px;
  justify-content: center;
  background-color: #61d5df;
  font-family: SegoeUI;
}

.login__terms {
  font-family: SegoeUI;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: rgba(59, 59, 59, 0.5);
}

.MuiFormHelperText-contained {
  margin-left: 0px !important;
}

@media only screen and (max-width: 520px) {
  .login__form {
    width: 100%;
  }
}
