.signup {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("https://app.365dropship.com/catalog_bg.3808158baad738767615.jpg");
  background-color: #98a3c7;
  opacity: 0.92 !important;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.signup__form {
  width: 413px;
  height: 580px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 8px;
  padding: 34px 40px;
  z-index: 2;
  box-sizing: border-box;
  box-shadow: 0 0 12px #6b6b6b;
}
.signup__logo {
  position: absolute;
}

.signup__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
}
.signup__heading h3 {
  font-size: 18px;
  color: #171717;
  text-transform: capitalize;
  margin: 0px;
  font-weight: 400;
}

.signup__form form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.signup-btn {
  outline: 0;
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
  text-transform: capitalize;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 25px;
  justify-content: center;
  background-color: #61d5df;
  font-family: SegoeUI;
}

.signup__terms {
  font-family: SegoeUI;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: rgba(59, 59, 59, 0.5);
}
.social__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-family: SegoeUI;
  font-size: 14px;
  height: 16px;
  color: rgba(59, 59, 59, 0.35);
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 30px;
}
.social__title span {
  position: absolute;
  background-color: #fff;
  padding: 0px 10px;
}

.social__title div {
  background-color: #e7e8e9;
  width: 100%;
  height: 1px;
  background-color: #e7e8e9;
}

.social__buttons {
  display: flex;

  justify-content: space-between;
}

.social__button {
  outline: 0;
  border: none;
  width: 160px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: rgba(218, 219, 221, 0.16);
  cursor: pointer;
}

.social__button-gmail {
  background-image: url("https://app.365dropship.com/gmail.285cd2a6d2400e92b9c8.png");
  background-repeat: no-repeat;
  background-position: center;
}

.social__button-facebook {
  background-image: url("https://app.365dropship.com/facebook.298647c6d4d58b0ec5a1.png");
  background-repeat: no-repeat;
  background-position: center;
}

.social__get-started {
  align-items: center;
  z-index: 2;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.social__get-started span {
  font-size: 15px;
  color: rgba(59, 59, 59, 0.64);
  margin-right: 8px;
}

.social__get-started a {
  outline: 0;
  text-decoration: none;
  cursor: pointer;
  color: rgba(59, 59, 59, 0.8);
  font-size: 15px;
  font-weight: 700;
}

@media only screen and (max-width: 520px) {
  .signup__form {
    width: 100%;
  }
}
