.navigation {
  height: 100%;
  width: 54px;
  border-right: 1px solid #dde3ee;
  background-color: #fff;
  z-index: 100;
  padding-top: 28px;
  position: fixed;
  box-sizing: border-box;
}

.navigation__logo {
  padding-bottom: 24px;
  border-bottom: 1px solid #dde3ee;
}

.navigation__logo img {
  width: 40px;
  height: 20px;
}

.navigation__list {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin-top: 10px;
}

.navigation__list-item {
  width: 100%;
  height: 42px;
  display: flex;
  margin-bottom: 13px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
}

.navigation__list-item svg {
  width: 21px;
  height: 19px;
  /* fill: #49547d; */
}

.navigation svg {
  fill: #49547d;
}

.active svg {
  fill: #7cdce5;
  margin-right: 3px;
}

.active .navigation__list-item {
  border-left: 3px solid #7cdce5;
  background-color: rgba(97, 213, 223, 0.05);
}

.navigation-profile {
  width: 34px;
  height: 34px;
  cursor: pointer;
}

.navigation__content {
  margin-top: 28px;
}

@media only screen and (max-width: 1070px) {
  .navigation {
    display: none;
  }
}
