.coming-soon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.coming-soon p {
  font-size: 35px;
  color: #3c4874;
}

.coming-soon svg {
  margin-top: 100px;
}
